<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href = "/css/styles.css">
    <title>Detail</title>
</head>

<body>
<ul>
    <li><a class="active" href="/">Home</a></li>
    <li><a href="/create">Create User</a></li>
</ul>

<h1>Detail user</h1>

<table id="customers">
    <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Name</th>
        <th>City</th>
    </tr>
        <tr>
            <td><%= userDetail.id %></td>
            <td><%= userDetail.email %></td>
            <td><%= userDetail.name %></td>
            <td><%= userDetail.city %></td>
        </tr>
</table>

</body>
</html>